  div, h1{
    margin: 20px;
  }

  header {
    margin-top: 0px;
  }
  
  body{
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
  }


  .Bio {
    display: flexbox;
    justify-content: center;
    align-items: center; 
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 40px;
  }

  .contact-panel {
    display: grid;
    justify-content: center;
    align-items: center; 
    text-align: center;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0px, 40px;
    overflow: hidden;
    background-color: #333333;
  }

  ul li{
    float: left;
  }

  ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  ul li a:hover {
    background-color: #111111;
    transform: scale(1.025);
  }

  .banner img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      display: block;
  }

  .image-link:hover {
    transform: scale(1.025);
    /*box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);*/
  }

  .content-bubble {
    display: flexbox;
    justify-content: center;
    align-items: center; 
    text-align: center;
    width: 50%;
    margin: 0 auto;
    background-color: #eee;
    border-radius: 20px;
  }

  .row {
    display: flex;
    width: 100%;
  }

  .column {
    flex: 33.33%;
    padding: 5px;
  }

  .zoom-box input[type = "checkbox"]{
    display: none;
  }

  .zoom-box img {
      cursor: zoom-in;
  }

  .zoom-box input[type = "checkbox"]:checked ~ img {
    transform: scale(1.75);
    cursor: zoom-out;
  }

  .portfolio {
    display: flexbox;
    justify-content: center;
    align-items: center; 
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 10px;
  }

  .webmap {
    display: flexbox;
    justify-content: center;
    align-items: center; 
    text-align: center;
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
  }
