  
  
  div{
    margin: 20px;
  }

  header {
    margin-top: 0px;
  }
  
  body{
    margin: 0;
    padding: 0;
    font-family: "Source Code Pro", monospace;
  }

  img {
    /*border: 0.75px solid black;
    background-color: white;
    border-radius: 20px;*/
    padding: 10px;
  }

  .Bio {
    display: flexbox;
    justify-content: center;
    align-items: center; 
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 10px;
  }

  .contact-panel {
    display: grid;
    justify-content: center;
    align-items: center; 
    text-align: center;
    margin-bottom: -25px;
    margin-top: -25px;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background-color: #333;

    display: flex;
    justify-content: center;
    gap: 30px;

    z-index: 1000;
  }


  .links {
    position: sticky;
    top: 60px;
    z-index: 10;

    border-radius: 20px;

    background-color: #444;

    display: flex;
    justify-content: center;
    gap: 30px;

    z-index: 1000;
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0px, 40px;
    overflow: hidden;
    background-color: #333333;
  }

  ul li{
    float: left;
  }

  ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  ul li a:hover {
    background-color: #111111;
    transform: scale(1.025);
  }

  .navbar details {
    margin-top: 45px;
    padding-bottom: 10px;
    color: white;
  }

  .navbar details:hover {
    background-color: #111111;
    transform: scale(1.025);
  }

  .banner img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      display: block;
  }


  .image-link:hover {
    transform: scale(1.025);
    /*box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);*/
  }

  .content-bubble {
    display: flexbox;
    border: 0.75px solid black;
    background-color: #ffffe4;
    justify-content: center;
    align-items: center; 
    text-align: center;
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
    margin-bottom: 40px;
  }

  .row {
    display: flex;
    width: 100%;
  }

  .column {
    flex: 33.33%;
    padding: 5px;
  }

  .zoom-box input[type = "checkbox"]{
    display: none;
  }

  .zoom-box img {
      cursor: zoom-in;
  }

  .zoom-box input[type = "checkbox"]:checked ~ img {
    transform: scale(1.75);
    cursor: zoom-out;
  }

  .portfolio {
    display: flexbox;
    justify-content: center;
    align-items: center; 
    text-align: center;
    width: 60%;
    margin: 50px auto;
    padding-top: 50px;
    padding-bottom: 10px;
    padding-inline: 25px;
    /*background-color: #faf9f6;*/
    /*border: 0.75px solid black;*/
    border-radius: 20px;
  }

  .webmap {
    display: flexbox;
    justify-content: center;
    align-items: center; 
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    border-radius: 20px;
  }

  .map {
    padding-top: 130px;
  }

  .return-button{
    background-color: #ddd;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
  }

  .return-button:hover{
    transform: scale(1.025);
  }




  .button-grid {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    max-width: 1000px;
    margin: 5px auto;
    padding: 20px;
}

.grid-button {
    min-height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #eee;
    color: #222;

    border: dashed black 1px;

    text-decoration: none;
    text-align: center;

    border-radius: 10px;

    transition: 0.2s;
}

.grid-button:hover {
    transform: translateY(-5px);
    background-color: #ddd;
}

.grid-button h2 {
    margin-bottom: 10px;
}

.grid-button p {
    margin: 0;
}


